<div class="home">
    Lecionário
  
    <div class="container mt-5">
      <mat-form-field appearance="outline" class="mr-4" style="width: 80%; ">
        <mat-label>Data específica</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="dataUnica" (ngModelChange)="mudouData()">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- <button mat-raised-button color="primary" (click)="goToCadastro()">Cadastro</button> -->
  <!-- 
    <div class="container">
      <input type="date" class="form-control"  [(ngModel)]="dataUnica" (ngModelChange)="mudouData()" >
  
      <button class="btn mt-4" style="background-color: purple; color: white;" (click)="goToLecionario()">Pesquisar</button>
    </div> -->
  
  </div>