<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>

  </form>
  <button mat-stroked-button color="primary" (click)="onSubmit()" type="submit">
    Entrar
  </button>
</div>

<div class="container d-flex justify-content-center">
  <button mat-stroked-button routerLink="/home">
    <mat-icon>home</mat-icon>Início</button>
</div>

