
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



/* Tema Claro */
body {

    background-color: #ffffff;
    color: #212529;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Segoe UI', sans-serif;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: purple;
    }

    & .navbar {
        background-color: rgb(237, 237, 237);
    }

    & .fixed-bottom {
        z-index: 1;
        & .btn {
            color: #810081;
        }
    }

    & .calendario {
    }

    & .fab {
        background-color: #810081;
        color: white;
    }

    @include mat.datepicker-overrides((
        calendar-date-selected-state-background-color: purple,
    ));

}


/* Tema Escuro */
body.dark-mode {
    background-color: #212529;
    color: #f5f5f5;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ffffff;
    }

    & .navbar {
        background-color: #5f00c0;
        color: white;
    }

    & .fixed-bottom {
        z-index: 1;
        & .btn {
            color: white;
        }
    }

    & .calendario {
        background-color: #212529;
    }

    & .fab {
        background-color: #5f00c0;
        color: white;
    }

    @include mat.datepicker-overrides((
        calendar-date-selected-state-text-color: white,
        calendar-date-selected-state-background-color: purple,
        calendar-date-text-color: white,
        calendar-header-text-color: white,
        calendar-period-button-text-color: white,
        calendar-body-label-text-color:white,
        calendar-container-background-color: #31353a
    ));


}

body.dark-mode .btn-toggle-theme {
    color: white;
    background-color: transparent;
}

.snackbar-success {
    @include mat.snack-bar-overrides((
        container-color: darkgreen ,
        supporting-text-color: white,
      ));
  }
  
  .snackbar-error {

    @include mat.snack-bar-overrides((
        container-color: darkred ,
        supporting-text-color: white,
      ));
  }